body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

h1, p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fef0dd;
}

.logo {
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #7d502d; 
}

.hero {
    display: flex;
    background-color: #fef0dd;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap: 60px;
    padding: 60px;
    flex-wrap: wrap;

    img {
        max-height: 250px;
        display: block;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;


    h1 {
        font-size: 48px;
        font-weight: 900;
    }

    p {
        font-size: 16px;
        margin: 15px 0px;
    }
}

.about-button {
    max-width: 110px;
    text-align: center;
    text-decoration: none;
    background-color: #7d502d;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 12px;
}